header{
    background-color: mediumseagreen;
    padding: 15px;
    border-radius:7px;

}

main{

    display: grid;
    grid-template-columns:  20% 63% 17%;
    grid-template-rows: 1fr;
}
header p, header h1 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.main-info{
    padding: 10px;
    grid-area: 1/2/1/3;
}

aside p, .main-info p, aside h3, .main-info h2, .main-info h3, .main-info h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

aside{
    
    margin: 5px;
    background-color:rgb(60, 180, 250);
    grid-area: 1/3/1/4;
    color: white;
    width: 180px;
    border-radius: 5px;
    padding: 20px;
    
}

footer{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    border: 3px rgb(156, 154, 154);
    background-color: rgb(223, 217, 217);
    font-size: 70%;
    border-radius: 5px;
    margin: 6px;
}

.botones{
    grid-area: 1/1/2/2;
    
}
.boton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 100px;
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    list-style-type: none;
    padding: 4px;
    cursor: pointer;
}
.boton:hover{
background-color: #ffffff;

}

.boton:first-child {
    background-color:#04AA6D;
    color: white;
    font-weight:bold;
}

cite{
    text-decoration: underline;
}

