body{

    background-color: black;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    grid-template-columns: 90% 10%;
    grid-template-rows: 90% 10%;
}

main{
    display: grid;
    padding: 10px;   
}

header{
grid-area: 1/1/2/2;
}

aside{
    color: white;
    grid-area: 1/2/2/3;
    border: 2px solid white;
    padding: 8px;
    line-height: 20px;
}

cite{
    color: white;
    text-decoration: underline;
}

footer{
    color: white;
    text-align: center;
    border: 2px solid white;
    padding: 10px;
    font-size: 80%;
}

li:hover{
    color: white;
}

li:nth-child(4){

    color: white;
}