 body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    border: 30px solid  #f1f1f1;
    padding: 10px;
 }
 h1,  h2, h3, h4{
    color: #4CAF50;
    
}

ul{
    list-style: none;
    color: white;
    margin-left: 0;
    overflow: auto;
    
    
}

li{
    list-style: none;
   background-color:  #555555;
   width: 150px;
   margin: 4px;
   padding: 4px;
   float: left;

}

li:nth-child(3){

    background-color: #4CAF50;
    
}



cite{
    text-decoration: underline;

}

cite:hover{
    color: #4CAF50;
}

aside{
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding: 6px;
}

footer{
    text-align: center;
    font-size: 60%;
    line-height: 20px;
}